
.container
  .text-center
    h1.styleguide style guide
    .row
      .col-12
        h2.styleguide Colour Schemes
    .row.offset-2
      .col-2
        .primaryColour
      .col-2
        .secondaryColour
      .col-2
        .light
      .col-2
        .deep
      .col-2
        .dark
    .row
      .col-12.text-center
        h2.styleguide Headings and titles
      .col-12
        h1 Salon Eighteen - main title
      .col-4
        h2 Salon Eighteen - subtitle title
      .col-4 
        h3 Salon Eighteen - subtitle title
      .col-4 
        h4 Salon Eighteen - subtitle title
      .col-4
        h5 Salon Eighteen - subtitle title
      .col-4 
        h6 Salon Eighteen - subtitle title
      .col-4 
        h7 Salon Eighteen - subtitle title
    .row
      .col-12.text-center
        h2.styleguide Headings and titles Coloured
      .col-12.primaryTextColour
        h1 Salon Eighteen - main title
      .col-4.secondaryTextColour
        h2 Salon Eighteen - subtitle title
      .col-4.deepTextColour
        h3 Salon Eighteen - subtitle title
      .col-4.darkTextColour
        h4 Salon Eighteen - subtitle title
      .col-4.lightTextColour
        h5 Salon Eighteen - subtitle title
      .col-4.primaryTextColour
        h6 Salon Eighteen - subtitle title
      .col-4.secondaryTextColour 
        h7 Salon Eighteen - subtitle title
        
  .row
    .col-12
      h2.styleguide.text-center Main content text
    .col-4.text-left
      p Example Paragraph Lorem LEFT - ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      a(href='#') link in Paragraph
    .col-4.text-center
      p Example Paragraph Lorem CENTER - ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      a(href='#') link in Paragraph
    .col-4.text-right
      p Example Paragraph Lorem RIGHT - ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      a(href='#') link in Paragraph
  .row.text-center 
    .col-12
      h2.styleguide CTA and Buttons
    .col-6
      button.primaryBtn Primary Button
    .col-6
      button.secondaryBtn Secondary Button
