doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='description', content='Salon Eighteen Hairdressing , Sebastopol, Pontypool')
    meta(name='keywords', content='hairdressing pontypool, hairdresser pontypool, hairdressers pontypool, hairdressing sebastopol, ladies hairdressers pontypool, ladies hairdressers sebastopol, hairdressers south wales, hairdressers torfaen, salon sebastopol, salon pontypool, salon torfaen, salon south wales')
    meta(name='author', content='Salon Eighteen')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Salon Eighteen
    link(rel='stylesheet' href='css/style.css')
   
